.row
  .col-sm-10
  .col-sm-2
    = link_to '一覧に戻る', my_animal_books_path, :class => 'pull-right btn btn-primary'
.row
  .col-sm-12
    = form_with(model: @my_animal, local: true) do |f|
      .row
        .col-sm-5
          .field
            -# MY動物の名前
            = f.label :my_animal_name, MyAnimalBook.human_attribute_name("my_animal_name"), :class => 'col-sm-4 control-label'
            .col-sm-12
              = f.text_field :my_animal_name, :class => 'form-control'
      %br
      .row
        .col-sm-5
          .field
            -# MY動物の見つけた場所
            = f.label :my_animal_place, MyAnimalBook.human_attribute_name("my_animal_place"), :class => 'col-sm-4 control-label'
            .col-sm-12
              = f.text_field :my_animal_place, :class => 'form-control'
      %br
      .row
        .col-sm-5
          .field
            -# MY動物の詳細
            = f.label :my_animal_detail, MyAnimalBook.human_attribute_name("my_animal_detail"), :class => 'col-sm-4 control-label'
            .col-sm-12
              = f.text_area :my_animal_detail, :class => 'form-control', size: "10x10"
      %br
      .row
        .col-sm-5
          .field
            -# MY動物の写真アップロード
            = f.label :my_animal_image, MyAnimalBook.human_attribute_name("my_animal_image"), :class => 'col-sm-4 control-label'
            .col-sm-12
              = f.file_field :my_animal_image, :class => 'form-control', :onChange => 'controlImageSubmitButton()'
          .field
            = f.hidden_field :user_id, :value => @account_id



      %div{style:"padding: 10pt"}
      .row
        .col-sm-3
          .actions
            = button_tag @save_button, class: 'pull-right btn btn-primary', type: 'button', onclick: 'submit();'
