.row
  .col-sm-10
  .col-sm-2
    = link_to '一覧に戻る', animals_path, :class => 'pull-right btn btn-primary'
.row
  .col-sm-12
    = form_with(model: @animal, local: true) do |f|
      .row
        .col-sm-4
          .field
            -# 動物の名前
            = f.label :name, Animal.human_attribute_name("name"), :class => 'col-sm-4 control-label'
            .col-sm-12
              = f.text_field :name, :class => 'form-control'
        .col-sm-4
          .field
            -# 動物の学名
            = f.label :binomial_name, Animal.human_attribute_name("binomial_name"), :class => 'col-sm-4 control-label'
            .col-sm-12
              = f.text_field :binomial_name, :class => 'form-control'
        %div{style:"padding: 40pt"}
      .row
        .col-sm-2
          .field
            -# 動物の綱(こう)
            = f.label :animal_class, Animal.human_attribute_name("animal_class"), :class => 'col-sm-4 control-label'
            .col-sm-12
              = f.text_field :animal_class, :class => 'form-control'
        .col-sm-2
          .field
            -# 動物の目(もく)
            = f.label :animal_order, Animal.human_attribute_name("animal_order"), :class => 'col-sm-4 control-label'
            .col-sm-12
              = f.text_field :animal_order, :class => 'form-control'
        .col-sm-2
          .field
            -# 動物の科(もく)
            = f.label :animal_family, Animal.human_attribute_name("animal_family"), :class => 'col-sm-4 control-label'
            .col-sm-12
              = f.text_field :animal_family, :class => 'form-control'
        %div{style:"padding: 40pt"}
      .row
        .col-sm-2
          .field
            -# 動物の属(ぞく)
            = f.label :animal_genus, Animal.human_attribute_name("animal_genus"), :class => 'col-sm-4 control-label'
            .col-sm-12
              = f.text_field :animal_genus, :class => 'form-control'
        .col-sm-2
          .field
            -# 動物の種(しゅ)
            = f.label :animal_species, Animal.human_attribute_name("animal_species"), :class => 'col-sm-4 control-label'
            .col-sm-12
              = f.text_field :animal_species, :class => 'form-control'
        .col-sm-2
          .field
            -# 動物の亜種(あしゅ)
            = f.label :animal_sub_species, Animal.human_attribute_name("animal_sub_species"), :class => 'col-sm-4 control-label'
            .col-sm-12
              = f.text_field :animal_sub_species, :class => 'form-control'
        %div{style:"padding: 40pt"}
      .row
      .col-sm-12
        .row
          .col-sm-1
            .field
              -# 動物の体長(最小)
              = f.label :min_length, Animal.human_attribute_name("min_length"), :class => 'control-label'
              = f.text_field :min_length, :class => 'form-control'
          .col-sm-0{style: 'margin-top: 35px;'}
            = "～"
          .col-sm-1
            .field
              -# 動物の体長(最小)
              = f.label :max_length, Animal.human_attribute_name("max_length"), :class => 'control-label'
              = f.text_field :max_length, :class => 'form-control'
          .col-sm-1
          .col-sm-1
            .field
              -# 動物の体長(最小)
              = f.label :min_weight, Animal.human_attribute_name("min_weight"), :class => 'control-label'
              = f.text_field :min_weight, :class => 'form-control'
          .col-sm-0{style: 'margin-top: 35px;'}
            = "～"
          .col-sm-1
            .field
              -# 動物の体長(最小)
              = f.label :max_weight, Animal.human_attribute_name("max_weight"), :class => 'control-label'
              = f.text_field :max_weight, :class => 'form-control'
        %div{style:"padding: 10pt"}
      .row
      .col-sm-12
        - if controller.action_name == 'new'
          = fields_for :animal_distribution do |d|
            = d.label :distribution, "#{AnimalDistribution.model_name.human}(最大５地域記載可能)", :class => 'control-label'
            .row
              .col-sm-2
                .field
                  -# 動物の分布[1]
                  = d.text_field :distribution, :class => 'form-control', multiple: true
              .col-sm-2
                .field
                  -# 動物の分布[2]
                  = d.text_field :distribution, :class => 'form-control', multiple: true
              .col-sm-2
                .field
                  -# 動物の分布[3]
                  = d.text_field :distribution, :class => 'form-control', multiple: true
              .col-sm-2
                .field
                  -# 動物の分布[4]
                  = d.text_field :distribution, :class => 'form-control', multiple: true
              .col-sm-2
                .field
                  -# 動物の分布[5]
                  = d.text_field :distribution, :class => 'form-control', multiple: true
          %div{style:"padding: 10pt"}

          = fields_for :animal_habitat do |h|
            = h.label :habitat, "#{AnimalHabitat.model_name.human}(最大５地域記載可能)", :class => 'control-label'
            .row
              .col-sm-2
                .field
                  -# 動物の生息地[1]
                  = h.text_field :habitat, :class => 'form-control', multiple: true
              .col-sm-2
                .field
                  -# 動物の生息地[2]
                  = h.text_field :habitat, :class => 'form-control', multiple: true
              .col-sm-2
                .field
                  -# 動物の生息地[3]
                  = h.text_field :habitat, :class => 'form-control', multiple: true
              .col-sm-2
                .field
                  -# 動物の生息地[4]
                  = h.text_field :habitat, :class => 'form-control', multiple: true
              .col-sm-2
                .field
                  -# 動物の生息地[5]
                  = h.text_field :habitat, :class => 'form-control', multiple: true

        - if controller.action_name == 'edit'
          = fields_for :animal_distribution do |d|
            = d.label :distribution, "#{AnimalDistribution.model_name.human}(最大５地域記載可能)", :class => 'control-label'
            .row
              .col-sm-2
                .field
                  -# 動物の分布[1]
                  = d.text_field :distribution, value: @animal_distributions[0], :class => 'form-control', multiple: true
              .col-sm-2
                .field
                  -# 動物の分布[2]
                  = d.text_field :distribution, value: @animal_distributions[1], :class => 'form-control', multiple: true
              .col-sm-2
                .field
                  -# 動物の分布[3]
                  = d.text_field :distribution, value: @animal_distributions[2], :class => 'form-control', multiple: true
              .col-sm-2
                .field
                  -# 動物の分布[4]
                  = d.text_field :distribution, value: @animal_distributions[3], :class => 'form-control', multiple: true
              .col-sm-2
                .field
                  -# 動物の分布[5]
                  = d.text_field :distribution, value: @animal_distributions[4], :class => 'form-control', multiple: true

          %div{style:"padding: 10pt"}
          = fields_for :animal_habitat do |h|
            = h.label :habitat, "#{AnimalHabitat.model_name.human}(最大５地域記載可能)", :class => 'control-label'
            .row
              .col-sm-2
                .field
                  -# 動物の生息地[1]
                  = h.text_field :habitat, value: @animal_habitats[0], :class => 'form-control', multiple: true
              .col-sm-2
                .field
                  -# 動物の生息地[2]
                  = h.text_field :habitat, value: @animal_habitats[1], :class => 'form-control', multiple: true
              .col-sm-2
                .field
                  -# 動物の生息地[3]
                  = h.text_field :habitat, value: @animal_habitats[2], :class => 'form-control', multiple: true
              .col-sm-2
                .field
                  -# 動物の生息地[4]
                  = h.text_field :habitat, value: @animal_habitats[3], :class => 'form-control', multiple: true
              .col-sm-2
                .field
                  -# 動物の生息地[5]
                  = h.text_field :habitat, value: @animal_habitats[4], :class => 'form-control', multiple: true



      %div{style:"padding: 10pt"}
      .row
        .col-sm-3
          .actions
            = button_tag '登録', class: 'pull-right btn btn-primary', type: 'button', onclick: 'submit();'
