.row
  .col-sm-1
  .col-sm-10

    %h3.content-header 動物詳細
    .content
      .row
        .col-sm-12
          = link_to '一覧に戻る', animals_path, :class => 'pull-right btn btn-primary'
      .row
        .col-sm-6
          .col-sm-12
            = link_to '編集', edit_animal_path(@animal.id), :class => 'btn btn-sm btn-info center-block' if @admin_view_display
          %br

          .col-sm-12
            = "#{Animal.human_attribute_name("name")}：#{@animal.name}"
          %div{style:"padding: 2.5pt"}
          .col-sm-12
            = "#{Animal.human_attribute_name("binomial_name")}：#{@animal.binomial_name}"
          %div{style:"padding: 2.5pt"}
          .col-sm-12
            = "分類：#{@animal.animal_class}#{@animal.animal_order}#{@animal.animal_family}#{@animal.animal_genus}#{@animal.animal_species}#{@animal.animal_sub_species}"

          .col-sm-12
          　
          .col-sm-12
            = "#{Animal.human_attribute_name("length")}：#{@animal.min_length}cm ～ #{@animal.max_length}cm"
          %div{style:"padding: 2.5pt"}
          .col-sm-12
            = "#{Animal.human_attribute_name("weight")}：#{@animal.min_weight}kg ～ #{@animal.max_weight}kg"
          .col-sm-12
          　
          .col-sm-12
            = "#{Animal.human_attribute_name("distribution_1")}　："
            = @animal.distribution_1
            = "、#{@animal.distribution_2}" if @animal.distribution_2.present?
            = "、#{@animal.distribution_3}" if @animal.distribution_3.present?
            = "、#{@animal.distribution_4}" if @animal.distribution_4.present?
            = "、#{@animal.distribution_5}" if @animal.distribution_5.present?
          %div{style:"padding: 2.5pt"}
          .col-sm-12
            = "#{Animal.human_attribute_name("habitat_1")}："
            = @animal.habitat_1
            = "、#{@animal.habitat_2}" if @animal.habitat_2.present?
            = "、#{@animal.habitat_3}" if @animal.habitat_3.present?
            = "、#{@animal.habitat_4}" if @animal.habitat_4.present?
            = "、#{@animal.habitat_5}" if @animal.habitat_5.present?
          　
          .col-sm-12
            = "#{Animal.human_attribute_name("red_list")}：#{@animal.red_list}"

        .col-sm-6
          - if @animal_images.present?
            - count = 0
            - image_size = '600x450'
            - @animal_images.each do |images|
              - if count % 3 == 0
                %br
              = image_tag asset_path(images.image_url), :class => 'col-xs-3',  alt: '参照先に画像が無いよ！', size: image_size
              - count += 1
              - image_size = '200x150'

