.row
  .col-sm-12.text-center
    %h2 メールアドレスを再登録
    %br
.row
  .col-sm-3
  .col-sm-6
    .card.bg-light.mb-3.img-thumbnail.card.border-warning.mb-3
      .card-body.px-2.py-3
        %br
        %p.mb-0
        - @account = current_account if @account == nil
        = form_for(@account, as: :accounts, url: ex_ex_mail_recreate_path) do |f|
          - if @account.errors.full_messages.present?
            .alert.alert-danger 入力に不備があります

          - if @error_message.present?
            .alert.alert-danger 
              = @error_message

          .field
            = f.label "メールアドレス"
            %br
            = f.email_field :email, autofocus: true, autocomplete: "email", :class => 'form-control'

          %br
          .row
            .col-sm-6.actions          
              = link_to '戻る', my_page_path, :class => 'pull-right btn btn-secondary'
            .col-sm-6.actions          
              = f.submit "登録", :class => 'btn btn-primary center-block'
