-# !!!
-# %html
-#   %head
-#     %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
-#     %title AIndex
-#     = csrf_meta_tags
-#     = csp_meta_tag
-#     = stylesheet_link_tag    'application', media: 'all'
-#     = javascript_include_tag 'application'
-#   %body
-#     = yield

!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Freedum Lab
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    .d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3.bg-white.border-bottom.shadow-sm
      %h5.my-0.mr-md-auto.font-weight-normal Freedum Lab
      %nav.my-2.my-md-0.mr-md-3
        - if account_signed_in?
          = "　　　"
          %a.top_menu-1.p-2.text-dark.align-middle{:href => animaindex_top_path} アニマインデックス
          %a.top_menu-2.p-2.text-dark.align-middle{:href => gameclub_index_path} ゲーム部アプリ
          %a.top_menu-3.p-2.text-dark.align-middle{:href => my_page_path} アカウント
          %a.top_menu-4.p-2.text-dark.align-middle{:href => root_path } ＴＯＰ
          = link_to "ログアウト", destroy_account_session_path, :method => :delete, :class => 'btn btn-outline-primary'

        - unless account_signed_in?
          = "　　　"
          %a.top_menu-1.p-2.text-dark.align-middle{:href => animals_path} 動物図鑑
          %a.top_menu-2.p-2.text-dark.align-middle{:href => root_path } ＴＯＰ
          %a.btn.btn-outline-primary{:href => account_session_path} ログイン 
          %a.btn.btn-primary{:href => new_account_registration_path} アカウント作成
  %body

    .col-sm-12
      - if alert
        .alert.alert-danger= alert
      - if notice
        .alert.alert-info= notice

    = yield

    -if controller.action_name != "top" # TOP画面以外の場合はbodyとfooterの間に一行改行を挟む
      %br


  %footer
    .row
    .col-sm-1
    .col-sm-10
      %br
      %h4
        Freedum Lab
      %br
      %nav.my-2.my-md-0.mr-md-3
        %a.top_menu-5.p-2.text-white.align-middle{:href => home_terms_of_service_path} 利用規約
        %a.top_menu-6.p-2.text-white.align-middle{:href => home_privacy_path} プライバシーポリシー
      %br
      %br

  :css
    footer{
            background-color: #001e43;
            color: white;
          }
